<% if @name %>
<h1>Hello my name is <%= @name %></h1>
<% end %>
<form action="/named_cat">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
<p>
  <img src="http://bit.ly/1eze8aE" style="border: 3px dashed red">
</p>
